.menu-panel {
    width: 20%;
    min-width: 300px;
    margin: 20px 10px;
    border: 1px solid black;
}

h5 {
    font-size: 18px;
    text-transform: uppercase;
}

.menu-panel > ul {
    display: none;
    height: 0;
    transition: 1.5s;
    list-style-type: none;
}

.menu-panel ul li {
    padding: 10px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
}


.menu-panel ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #3594b3;
}

.menu-panel ul li:hover::after {
    rotate: 0deg;
    transition: 400ms;
    margin-left: 40px;
}

.menu-panel ul li:hover {
    border-bottom: 1px solid #88d746;
    cursor: pointer;
}

.menu-panel ul.active {
    display: block;
    padding: 10px 0 10px;
    transition: 1.5s;
    height: auto;
}

.menu-panel_linck {
    position: relative;
}

.menu-panel {
    /* background: rgb(204, 204, 204);
    background: linear-gradient(51deg, rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%);*/
    background: rgb(243, 242, 242);
}

.menu-panel_linck {
    position: relative;
}

.button-menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.stroke {
    height: 3px;
    width: 100%;
    background: #00b7cc;
    transition: 500ms;
}

.nav-hidden {
    position: absolute;
    top: -300px;
    transition: 500ms;
}

.nav-visible {
    width: 92%;
    position: absolute;
    top: 0px;
    transition: 500ms;
}

.button-menu-in-nav {
    position: absolute;
    top: 15px;
    right: 20px;
    z-index: 5;
    rotate: 450deg;
    transition: 1.5s;
}

.button-menu-in-nav .stroke {
    background: #fff;
    transition: 1.5s;
    rotate: -360deg;
    width: 25px;
}

