.menu-panel {
    width: 20%;
    min-width: 200px;
    margin: 20px 10px;
    font-size: 18px;
    text-transform: uppercase;
}
   
.menu-panel > ul {
  
    transition: 1.5s;
    list-style-type: none;
}

.menu-panel ul li {
    padding: 10px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;

}


.menu-panel ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #3594b3;
    width: 100%;
    text-align: left;
}

.menu-panel a{
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    color: #fff;
}
.menu-panel ul li:hover::after {
    rotate: 0deg;
    transition: 400ms;
    margin-left: 40px;
}

.menu-panel ul li:hover {
    border-bottom: 1px solid #88d746;
    cursor: pointer;
}

.menu-panel ul.active {
    display: block;
    padding: 10px 0 10px;
    transition: 1.5s;
    height: auto;
}

.menu-panel_linck {
    position: relative;
}

.menu-panel {
    /* background: rgb(204, 204, 204);
    background: linear-gradient(51deg, rgba(204, 204, 204, 1) 0%, rgba(255, 255, 255, 1) 100%);*/
    background: rgb(243, 242, 242);
}

.menu-panel_linck {
    position: relative;
}
