h5 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
    padding: 5px ;
}
.menu-panel_item {
    margin: 0;
    background: #3594b3;
    background: linear-gradient(310deg, rgba(53, 148, 179, 1) 0%, rgba(0, 212, 255, 1) 100%);
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
.dropdown-menu{
    position: relative;
}
.menu-hover{
    position: absolute;
    display: none;
    top: 0;
    left: 100%;
    padding: 10px;
    background: #fff;
    text-align: left;
    box-shadow: 1px 1px 8px grey;
}

.dropdown-menu:hover .menu-hover{
    display: block;
}

.menu-hover:hover .menu-hover{
    display: block;
}

.menu-hover a:hover {
    border-bottom: 1px solid #88d746;
    cursor: pointer;
}